.pb-100 {
    padding-bottom: 70px;
}
.pt-100 {
    padding-top: 70px;
}

.container-fluid {
    max-width: 1920px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 50px;
    margin: 0 0 12px 0;
    position: relative;
    line-height: 1;
    color: #212121;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

.section-title p {
    max-width: 750px;
    margin: auto;
    color: #666666;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: #212121;
}

a:hover {
    color: #0d6efd;
}

.section-title .bar {
    height: 4px;
    width: 85px;
    background: #086AD8;
    margin: 20px auto 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.section-title .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #ffffff;
    animation: MOVE-BG 2s linear infinite;
}

@keyframes MOVE-BG {
     0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(73px);
    }
}

.p-0 {
    padding: 0 !important;
}

.single-projects.two {
    margin-bottom: 0;
}

.single-projects {
     position: relative;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.single-projects::before {
   content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 106, 216, 0.7); /* semi-transparent so image still shows */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1;
}

.single-projects .projects-image img {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.single-projects .projects-content {
    position: absolute;
    left: 0;
    top: 48%;
    transform: translateY(3px);
    text-align: center;
    right: 0;
    color: #ffffff;
    margin-top: 0;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 2;
}

.single-projects .projects-content h3 {
    color: #ffffff;
    font-size: 24px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 5px;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

.single-projects .projects-content span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-projects:hover::before {
    opacity: 1;
    visibility: visible;
}

.single-projects:hover .projects-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
}