<!-- Projects Section -->
<section class="projects-section pt-100 pb-100">
  <div class="container-fluid">
    <div class="section-title">
      <h2>Projects</h2>
      <p>
        Exytex Technologies bring forth advance software products. This Software house not only improvise in their tasks
        but also foster learning. Synergy of senior team persons with the new ones is the act of achieving better result
        in any sort of project. Exytex makes use of web development, web analysis,
        <a routerLink="/mobile-apps">mobile app development</a>, iOS app development, digital marketing, graphic
        designing and android app development. The way Exytex sustain their reputation is unbelievable and astonishing.
      </p>
      <div class="bar"></div>
    </div>

    <div class="row">
      <!-- Example Project -->
      <div class="col-lg-3 p-0" *ngFor="let project of projects">
        <div class="single-projects two">
          <div class="projects-image">
            <a [routerLink]="['/portfolio-item', extractSlug(project.url)]">
              <img [src]="project.image" [alt]="project.title">
            </a>
          </div>
          <div class="projects-content">
            <a [routerLink]="['/portfolio-item', extractSlug(project.url)]">
              <h3>{{ project.title }}</h3>
            </a>
            <a [routerLink]="['/portfolio-item', extractSlug(project.url)]">
              <span>{{ project.category }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>