.copyright-area {
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright-area .copyright-area-content p {
    font-size: 14px;
}

p:last-child {
    margin-bottom: 0;
}

p {
    margin-bottom: 1px;
    line-height: 1.8;
    color: #666666;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.copyright-area .copyright-area-content p a {
    display: inline-block;
    font-weight: 600;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: #212121;
}

a:hover {
    color: #0d6efd;
}

.copyright-area .copyright-area-content ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
    font-family: "Open Sans", sans-serif;
}

.copyright-area .copyright-area-content ul li {
    display: inline-block;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}

.copyright-area .copyright-area-content ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background-color: #086AD8;
}

.copyright-area .copyright-area-content ul li:last-child::before {
    display: none;
}

.copyright-area .copyright-area-content ul li a {
    display: inline-block;
}

.copyright-area .copyright-area-content ul li a:hover {
    color: #086AD8;
}
