<section class="choose-section ptb-100">
  <div class="container">
    <div class="row align-items-center">

      <!-- Left Content -->
      <div class="col-lg-6">
        <div class="choose-content">
          <div class="icon">
            <i class="flaticon-shared-folder"></i>
          </div>
          <h3>A Software Company Serving the Worldwide</h3>
          <p>
            Whenever we are casting about any software house, the only thing comes first in our minds is on time and satisfied work. Plenty of software houses work for providing 
            <a href="https://www.exytex.com/services/">software development services</a>, however, only few of them sustain their reputation. Exytex Technologies is one of them. Exytex have in house development teams and also an office development team. Workers do the project with full enthusiasm and determination. The supreme motto of exytex is to provide non-pareil results. Exytex is the registered Software firm, where any client from all over the world can attain their required work. Exytex got their highest ranks in very less time.
          </p>
        </div>
      </div>

      <!-- Right Image -->
      <div class="col-lg-6">
        <div class="choose-image">
          <img src="/image/softnew2 (1).jpg" alt="image">
        </div>
      </div>

    </div>
  </div>
</section>
