<section class="faq-section ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Amazon Business Services in Pakistan</h2>
            <div class="bar"></div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="faq-accordion">
                    <p>Logistics by Amazon FBA or Fulfillment by Amazon services in Pakistan, for its acronym in
                        English, allows any company or person to sell their products through the Amazon marketplace,
                        giving them the main online logistics tasks (storage, preparation, and shipping of orders). For
                        reference, in 2017 half of the products sold on Amazon were not owned by Amazon, but by
                        third-party sellers in its Marketplace program.</p>

                    <p>However, despite the excellence of Amazon logistics and the benefits that FBA offers, there are
                        certain considerations to make to understand whether or not the Amazon FBA program is the best
                        option for your business.</p>

                    <h3>How does the Amazon FBA program work?</h3>
                    <p>If you have a product that you want to sell online, with this program you can outsource all the
                        tasks involved in the logistics process to Amazon, in exchange for a cost for the service.</p>

                    <p>As a seller, you first need to prepare your products by following Amazon’s receiving conditions.
                        Once your product is ready, you send it to an Amazon FBA fulfillment center and it is from this
                        moment that Amazon will assume control of the logistics process.</p>

                    <h3>The services they offer are:</h3>
                    <li>Reception and storage of the product in its logistics centers</li>
                    <li>Registration of the product in the store so that it can be searched and purchased on Amazon.com
                    </li>
                    <li>If a customer buys your product, Amazon handles and prepares the product for shipping</li>
                    <li>Shipping the product to the end customer using Amazon shipping accounts</li>
                    <li>Amazon Customer Service for Buyer</li>

                    <h3>What are the costs of Amazon FBA?</h3>
                    <p>In April 2018, Amazon updated its rate structure for the logistics services it offers. In this
                        link you can download the detail of the updated Amazon FBA rates that we explain below.</p>

                    <p>FBA costs depend on the size of the product or the time of year and are divided into two types:
                        logistics management fees and warehousing fees.</p>

                    <p>The logistics management fee covers packing, handling and packaging, shipping, customer service,
                        and product returns. It is charged per unit and the cost may vary depending on the type,
                        dimensions, and weight of the product. Nowadays in Europe, there are no differences in the
                        logistics management fee during the year but in the United States there is a difference between
                        the low season (January to September) and high season (October to December), so it is to be
                        assumed that a future Amazon.com will apply this difference.</p>

                    <p>The storage fee is charged on a monthly basis and is calculated based on cubic meters used per
                        product with a price difference between low season and high season. Since April 2018, the cost
                        of this service is € 26.00 / m3 / month between January and September or € 36.00 / m3 / month
                        between October and December.</p>

                    <p>If you want to have an estimate of the costs that would be applied to your products, you can use
                        the Amazon calculator here.</p>

                    <p>Apart from these fees, Amazon also offers a series of optional services depending on the
                        conditions and preparation needs of the product. These services include labeling, bagging,
                        bubble wrap or opaque bag, and sealing.</p>

                    <h3>What are the pros and cons of Amazon FBA?</h3>
                    <p>There are different factors to consider when evaluating whether FBA is the best option for your
                        business and, in our experience and that of the clients we work with, these are our pros and
                        cons:</p>

                    <h3>Pros</h3>
                    <p>Access to Prime customers</p>
                    <p>Most of our customers who use Amazon FBA tell us that Prime customer access is the main reason
                        for using the program. When a product enters FBA, it automatically becomes eligible for the
                        Prime loyalty program with free shipping. In addition to the credibility that comes with being a
                        Prime product, Amazon Prime customers spend almost 3 times more than a regular Amazon shopper so
                        it is not a considerable advantage.</p>

                    <p>The Amazon Prime seal virtually eliminates the number one reason for shopping cart abandonment:
                        additional shipping costs. When you go shopping on Amazon, if there are two almost identical
                        products online and with similar prices, but one of the two is eligible for Prime with free
                        shipping, you will surely choose the Prime product.</p>

                    <p>It is important to note that the seller will be charged the same shipping rate regardless of
                        whether the customer chose to ship through Prime or not. That is, the rates for sellers do not
                        change, what changes is access to Prime customers.</p>

                    <h3>Greater visibility in the Buy Box</h3>
                    <p>Amazon has become one of the leading shopping search engines and many shoppers only search for
                        their products on Amazon. A seller who uses FBA receives more prominence than one who does not
                        use FBA in the Amazon Buy Box feature. When you consider that 82% of Amazon sales are generated
                        directly by the Buy Box, any help to win the Buy Box is crucial.</p>

                    <h3>Customer service and returns management</h3>
                    <p>Amazon customer service is revered for its quality, and by using Amazon FBA your sales will offer
                        this service. In addition, when you have an online store you know that managing a return is a
                        cumbersome process, so handing this process over to Amazon is a great advantage. However, you
                        should know that there is a return management fee depending on the size and type of product.</p>

                    <h3>Cons</h3>
                    <p>Strict reception rules</p>
                    <p>In order for your product to be received, processed, and sold on Amazon FBA, you must prepare
                        your product according to certain rules before shipping to Amazon fulfillment centers. Amazon’s
                        receiving standards are highly strict in order to make the process as fast and standardized as
                        possible. The product must be properly labeled and packaged to enter the stock and there is no
                        flexibility in this process. If you do not comply with the reception rules, you risk paying
                        fines or having the product rejected and, if you repeat the infractions, your account as a
                        seller will be deactivated.</p>

                    <h3>Long-term storage fees</h3>
                    <p>Amazon fulfillment centers are designed to handle a large volume of orders with high turnover.
                        For this reason, units that are in FBA stock for more than 6 months are subject to a long-term
                        storage fee of € 500.00 / m3. If you take into account that this fee is almost 20 times more
                        than your regular storage fee, it is very important that you manage and replenish your stock to
                        avoid spending 6 months in an fulfillment center.</p>

                    <h3>Additional cost per sale in other channels</h3>
                    <p>FBA logistics are not strictly limited to Amazon customers and they also offer the logistics
                        service for sale in other channels. Obviously Amazon prefers to boost sales volume on its
                        platform and therefore offers more attractive rates for sales on its channel. In Pakistan
                        (2021), logistics fees for sales in other channels are 50% more expensive on average than sales
                        through Amazon and also include a flat rate of € 1.80 / unit received in your warehouse.</p>

                    <h3>Building your brand and customer loyalty</h3>
                    <p>If you decide to sell through Amazon services in Pakistan, your sales will surely increase.
                        However, you have to understand with each sale that is made through Amazon, you stop building
                        your brand and your customer base, giving these benefits to Amazon. The content, photos, and
                        text conditions that accompany some products are quite strict and greatly limit your ability to
                        differentiate yourself from other sellers who sell similar products. After all, when you sell
                        through Amazon in Pakistan, the buyer of your products will most likely not even know your
                        company or your brand after receiving your product.</p>

                    <h3>Loss of growth opportunities</h3>
                    <p>The buyers of your products have likely been delighted with the product. However, since the end
                        customer is not yours but Amazon’s, you may miss out on growth opportunities for your store. By
                        not having access to buyer data, you stop promoting offers or new launches to customers who are
                        clearly interested in your products.</p>

                    <h3>What alternatives are there to Amazon FBA?</h3>
                    <p>If you are still not sure that FBA is the right service for your online sales in Pakistan, keep
                        in mind that you have different alternatives.</p>

                    <h3>Use a logistics operator</h3>
                    <p>The closest alternative to Amazon FBA would be to use a logistics operator to help you with the
                        comprehensive logistics management of your orders. Ideally, a logistics operator that works as a
                        white label and allows you to send orders with your own brand and packaging. In this way, you
                        outsource the tasks of the logistics process while maintaining the construction of your brand
                        and your customer base. It is not easy to identify a good logistics operator for e-commerce, our
                        main recommendation is that it be a logistics operator specialized in e-commerce since
                        traditional logistics operators will not always have the technology and speed of reaction that
                        you need.</p>

                    <h3>Do your own logistics</h3>
                    <p>There are different situations why it is better not to outsource the logistics of your
                        e-commerce. Having your own logistics can give you a lot of flexibility and total control over
                        all your sales, although it can mean an increase in your fixed costs. It is important that you
                        are clear when it is better for your online store to take care of your own logistics or to use a
                        logistics operator.</p>

                    <p>Use a professional pre-FBA product preparation service</p>

                    <p>If you know that you want to use the FBA program for your logistics, you can significantly reduce
                        your costs by going through a professional pre-FBA product preparation service in Pakistan.</p>

                    <p>This service consists of delegating the preparation of the product before shipment to an
                        fulfillment center to avoid getting your fingers caught with fines for not complying with the
                        strict conditions of receipt of Amazon. In the United States, this service is known as prep-FBA
                        and the main tasks it offers are:</p>

                    <li>Product receipt and verification</li>
                    <li>Preparation of packs, bundles, or kitting</li>
                    <li>Clear or dark bagging</li>
                    <li>Product labeling according to the standard</li>

                    <p>This service is not yet as common in Europe as in the United States, but there are some operators
                        like Exytex Technologies that offer this service in Pakistan.</p>

                </div>
            </div>
        </div>
    </div>
</section>