<section class="services-section pt-100 pb-100">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <div class="bar"></div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="icon">
            <br>
            <img src="/image/icons8-app-store-100.png" alt="iOS Development">
          </div>
          <h3>IOS Development</h3>
          <p>
            Are you looking for an iOS mobile app developer with experience and risk-free?
            Ordering a mobile application from Exytex is a guarantee of the result.
          </p>
          <br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="icon">
            <br>
            <img src="/image/icons8-android-os-100.png" alt="Android Development">
          </div>
          <h3>Android Development</h3>
          <p>
            We develop Apps natively, which offers us to get the most out of devices.
            This makes our Apps always stable and fast.
          </p>
          <br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="icon">
            <br>
            <img src="/image/icons8-website-100.png" alt="Web Development">
          </div>
          <h3>Web Development</h3>
          <p>
            We make fully customized websites optimized for SEO positioning.
            All our developments are accompanied by UX / UI designs.
          </p>
          <br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="icon">
            <br>
            <img src="/image/icons8-windows8-100.png" alt="Web Application">
          </div>
          <h3>Web Application</h3>
          <p>
            Development of custom web applications. We use agile methodologies
            so your project can evolve with your needs, budget and time.
          </p>
          <br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="icon">
            <br>
            <img src="/image/icons8-increase-100.png" alt="SEO">
          </div>
          <h3>Search Engine Optimization (SEO)</h3>
          <p>
            Search engines are powerful marketing tools that can drive massive
            traffic to your website and generate thousands of leads.
          </p>
          <br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="icon">
            <br>
            <img src="/image/icons8-sync-settings-100.png" alt="Support & Maintenance">
          </div>
          <h3>Support and Maintenance</h3>
          <p>
           We help companies, businesses with the monthly fee of their website, web maintenance focused according to their needs, updates and design.
          </p>
          <br>
        </div>
      </div>

    </div>
  </div>

  <!-- Shapes -->
  <div class="default-shape">

    <div class="shape-2 rotateme">
      <img src="/image/5.svg" alt="shape">
    </div>

    <div class="shape-3">
      <img src="/image/6.svg" alt="shape">
    </div>

    <div class="shape-4">
      <img src="/image/7.png" alt="shape">
    </div>

    <div class="shape-5">
      <img src="/image/8.png" alt="shape">
    </div>
  </div>
</section>
