<section class="portfolio-section pt-100 pb-100">
    <div class="container">

        <div class="section-title">
            <h2>Our <span>Impressive</span> Portfolio</h2>
            <div class="bar"></div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let project of projects">
                <div class="single-portfolio">
                    <div class="image">
                        <a [routerLink]="['/portfolio-item', extractSlug(project.url)]">
                            <img [src]="project.image" [alt]="project.title">
                        </a>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/portfolio-item', extractSlug(project.url)]">
                            <h3>{{ project.title }}</h3>
                        </a>
                        <span>{{ project.category }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>