<section class="portfolio-section pt-100 pb-100">
    <div class="container">

        <div class="section-title">
            <h2>Our <span>Impressive</span> Portfolio</h2>
            <div class="bar"></div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/e-donation-app">
                            <img src="/image/Edonation-appss.png" alt="Native E Donation App">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Native E Donation App</h3>
                        <span>Mobile App Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/e-sport-website-design">
                            <img src="/image/Esport-Web-Design-1.png" alt="Play Ground ESPORT">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Play Ground (ESPORT)</h3>
                        <span>Design</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/ground-fitness-app">
                            <img src="/image/ground-app-sss-1.png" alt="Ground Fitness App">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Ground Fitness App For Health</h3>
                        <span>Mobile App Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/fastest-white-hat-seo-results">
                            <img src="/image/seo-results-1.png" alt="SEO Results">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Fastest White Hat SEO Results</h3>
                        <span>SEO</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/ecommerce-website-development">
                            <img src="/image/Ecommerce-Shopping-Hub-1.png" alt="Ecommerce">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Custom E-Commerce Hub</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/top-ui-ux-designing">
                            <img src="/image/furniture-app-portfolio-1.png" alt="Furniture App">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Furniture Gallery App</h3>
                        <span>Design</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/car-booking-taxi-app">
                            <img src="/image/car-booking-app-1.png" alt="Taxi App">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Car Booking Taxi App</h3>
                        <span>Mobile App Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/custom-admin-panel">
                            <img src="/image/save-sales-Admin-Panel.png" alt="Admin Panel">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Save Sales Custom Admin Panel</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/soobz-online-clothing-brand">
                            <img src="/image/Soobz new.png" alt="Soobz">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Soobz Online Clothing Brand</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/trade-kitchen-suppliers">
                            <img src="/image/trade.jpg" alt="Trade Kitchen">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Trade Kitchen Suppliers</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/quick-professional-movers">
                            <img src="/image/quick pro.png" alt="Movers">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Quick Professional Movers</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/hair-salon-reviews">
                            <img src="/image/softnew2.jpg" alt="Salon">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Hair Salon Reviews</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/al-hayyat-group-of-companies">
                            <img src="/image/0_alhayyat.jpg" alt="Al Hayyat">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Al Hayyat Group Of Companies</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/the-centrum-international-peshawar">
                            <img src="/image/0_centrum jped.jpg" alt="Centrum">
                        </a>
                    </div>
                    <div class="content">
                        <h3>The Centrum International Peshawar</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/elad-signs-printing-with-admin-panel">
                            <img src="/image/2_new elade.png" alt="Elad Signs">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Elad Signs Printing With Admin Panel</h3>
                        <span>Software Development</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio">
                    <div class="image">
                        <a routerLink="/portfolio-item/elad-boutique-ecommerce-crm">
                            <img src="/image/Elad-min.jpg" alt="Elad Ecommerce">
                        </a>
                    </div>
                    <div class="content">
                        <h3>Elad Boutique Ecommerce CRM</h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>