<!-- Section 2 -->
<section class="choose-section ptb-100 bg-light">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="choose-image">
                    <img src="/image/iospic.jpg" alt="Best Software Solutions">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="icon">
                        <i class="fa-solid fa-laptop-code"></i>
                    </div>
                    <h3>Top Software Application Development</h3>
                    <p>API Development, and IOS app development in one place, without loss of quality and the difficult
                        path of selecting and changing contractors of SEO Company Pakistan.</p>
                    <p>If your company needs a new website, a new online store design or an application, you have found
                        the right company. At Exytex Technologies we are specialists in programming. We carry out
                        developments of any size and adapted to your needs and budget. In addition, our experience in <a
                            href="https://www.exytex.com/digital-marketing/">Digital marketing services</a> is very
                        great advantage for our clients, since all our projects are oriented to online success.</p>
                </div>
            </div>

        </div>
    </div>
</section>