<section class="choose-section ptb-100">
  <div class="container">
    <div class="row align-items-center">

      <!-- Image Side -->
      <div class="col-lg-6">
        <br><br>
        <div class="choose-image">
          <img src="/image/lastnew2.jpg" alt="Best Software Solutions">
        </div>
      </div>

      <!-- Content Side -->
      <div class="col-lg-6">
        <div class="choose-content">
          <div class="icon">
            <i class="flaticon-shared-folder"></i>
          </div>

          <h3>Bespoke Software for Business</h3>

          <p>
            Talking about the consideration of Software companies, we should be aware about the deviation between software houses and software companies. Mostly the software companies do have the software houses, however, sometimes they have different identification. There are many software companies which are working in UK and Pakistan. Most of them get the highest rating by their superior work. Looking at the list of top software companies, Exytex invade in the race of best companies and got 5.00 rating. This rating clearly shows the superiority of Exytex in the arena of best software services. The reasons behind it are, zeal, passion, fair work, keenness,
            <a href="https://www.exytex.com/team/">enthusiastic teamwork</a>,
            faith and long lasting approach.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
