<section class="footer-section pt-100 pb-70">
    <div class="container">

        <div class="row">

            <!-- Column 1 -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <img src="/image/exytex-logo.png" width="200" height="52" alt="exytex logo">
                    </div>

                    <p>Providing software development services and support to clients all over the world.</p>

                    <div class="footer-info-contact">
                        <i class="fa-solid fa-phone"></i>
                        <span><a href="tel:+923095930315">+92 309 5930315</a></span><br>
                        <span><a href="tel:+447466109725">+44 7466 109725</a></span>
                    </div>

                    <!-- Clutch Widget -->
                    <script src="https://widget.clutch.co/static/js/widget.js"></script>
                    <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="14"
                        data-height="50" data-nofollow="true" data-expandifr="true" data-scale="100"
                        data-clutchcompany-id="1698530">
                    </div>

                </div>
            </div>

            <!-- Column 2 -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <p><u>Pakistan, PK</u></p>
                    <p><img src="/image/Webp.net-resizeimage-1.png" alt="flag"> Wah, Pakistan</p>
                    <p>Minaar road, Lala Rukh St, Wah Cantt, 47040</p>

                    <p><u>United Kingdom</u></p>
                    <p><img src="/image/Webp.net-resizeimage-2.png" alt="flag"> Bradford, UK</p>
                    <p>27 Hollybank Gardens, Bradford BD7 4QR, UK</p>

                    <div class="footer-info-contact">
                        <i class="fa-solid fa-envelope"></i>
                        <span><a href="mailto:info@exytex.com">Info@exytex.com</a></span>
                    </div>
                </div>
            </div>

            <!-- Column 3 -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <p><u>Dubai, AE</u></p>
                    <p><img src="/image/uae.png" alt="flag"> Dubai, UAE</p>
                    <p>France Cluster, Pavilion Mall, P-05, International City</p>

                    <div class="footer-info-contact">
                        <i class="fa-solid fa-phone"></i>
                        <span><a href="tel:+971522019994">+971 52201 9994</a></span>
                    </div>
                </div>
            </div>

            <!-- Column 4 -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Get In Touch</h3>
                    </div>

                    <ul class="footer-social">
                        <li><a class="fa-brands fa-facebook-f"></a></li>
                        <li><a class="fa-brands fa-linkedin-in"></a></li>
                        <li><a class="fa-brands fa-skype"></a></li>
                        <li><a class="fa-brands fa-google"></a></li>
                    </ul>

                    <br>

                    <div class="footer-heading">
                        <h3>Registered By PSEB</h3>
                    </div>

                    <a href="https://www.pseb.org.pk/">
                        <img src="/image/Pakistan-Software-Export-Board-PSEB-Logo-1-ff.jpg" alt="PSEB Logo" width="75%">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>