.fria-nav {
  padding-top: 0;
  font-family: "Open Sans", sans-serif;
}

.fria-nav .navbar {
  transition: 0.5s;
  padding: 0;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.navbar-brand {
  padding: .3125rem 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  align-items: center;
  width: 100%;
}

.fria-nav .navbar .navbar-nav {
  margin-left: auto;
}

.fria-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.fria-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding: 0;
}

.fria-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.fria-nav .navbar .navbar-nav .nav-item>a {
  font-size: 16px;
  color: #212121;
  text-transform: capitalize;
  padding: 25px 0;
  font-weight: 500;
  margin: 0 14px;
  transition: 0.3s;
  cursor: pointer;
}

.fria-nav .navbar .navbar-nav .nav-item>a:hover {
  color: #0d6efd;
}

.fria-nav .navbar .navbar-nav .nav-item.dropdown>a::after {
  content: none;
  font-size: 10px;
  margin-left: 6px;
  transition: 0.3s;
}

.fria-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  top: 72px;
  left: 0;
  width: 250px;
  z-index: 99;
  border: none;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  padding: 20px 5px;
  transform: translateY(10px);
}

.fria-nav .navbar .navbar-nav .nav-item:hover>.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.fria-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  padding: 0;
}

.fria-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  text-transform: capitalize;
  padding: 8px 15px;
  margin: 0;
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  transition: 0.35s;
  letter-spacing: 0;


}

.fria-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #0d6efd;
  letter-spacing: 1px;
}

.fria-nav .navbar .others-options {
  margin-left: 30px;
}

.fria-nav .navbar .others-options .burger-menu {
  background-color: transparent;
  margin-left: 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 1px;
}

.btn-primary {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: .25rem;
}

.btn-primary:hover {
  background-color: #084298;
  border-color: #084298;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  color: #212121;
  cursor: pointer;
  padding: 5px;
  line-height: 1;
}

/* Hover optional */
.menu-toggle:hover {
  color: #0d6efd;
}


@media (max-width: 991px) {

  .navbar-collapse {
    display: none;
    width: 100%;
    background: #ffffff;
    padding: 15px;
  }

  .fria-nav .navbar .others-options {
    display: none;
  }

  /* Show menu ONLY when toggle clicked */
  .navbar-collapse.show {
    display: block;
  }

  /* Vertical menu */
  .fria-nav .navbar .navbar-nav {
    flex-direction: row;
    width: 100%;
    margin-left: 0;
  }

  .fria-nav .navbar .navbar-nav .nav-item>a {
    padding: 12px 12px;
    margin: 0;
    /* border-bottom: 1px solid #eee; */
  }

  /* Disable hover dropdown */
  .fria-nav .navbar .navbar-nav .nav-item:hover>.dropdown-menu {
    padding: 12px 0px;
    /* margin: 0; */
    border-bottom: 1px solid #eee;
  }

  /* Mobile dropdown */
  .fria-nav .navbar .navbar-nav .dropdown-menu {
    position: static;
    width: 100%;
    box-shadow: none;
    padding: 10px 0;
    display: none;
  }

  /* Open dropdown on click */
  .nav-item.dropdown.show>.dropdown-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .fria-nav .navbar .navbar-nav {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .fria-nav .navbar .navbar-nav .nav-item>a {
    padding: 12px 0px;
    /* margin: 0; */
    border-bottom: 1px solid #eee;
  }
}

/* Mobile phones */
@media (max-width: 576px) {

  .navbar-brand img {
    width: 180px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 10px;
  }
}