.team-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 70px;
}

.tech-content h3 {
    font-size: 40px;
    margin-bottom: 16px;
    color: #212121;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

.tech-content .bar {
    height: 4px;
    width: 85px;
    background: #086AD8;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;
}

.tech-content .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #ffffff;
    animation: MOVE-BG 2s linear infinite;
}

@keyframes MOVE-BG {
    0% { transform: translateX(0); }
    100% { transform: translateX(73px); }
}

.tech-content p {
    margin-bottom: 0;
    line-height: 1.8;
    color: #666666;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.team-item {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.team-item .image {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.team-item .image .social {
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.team-item .image .social li {
    display: inline-block;
    transform: translateY(30px);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

.team-item:hover .image .social li {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.team-item .image .social li:nth-child(1) { transition-delay: 0.2s; }
.team-item .image .social li:nth-child(2) { transition-delay: 0.3s; }
.team-item .image .social li:nth-child(3) { transition-delay: 0.4s; }
.team-item .image .social li:nth-child(4) { transition-delay: 0.5s; }

.team-item:hover .image .social li:nth-child(1) { transition-delay: 0.2s; }
.team-item:hover .image .social li:nth-child(2) { transition-delay: 0.3s; }
.team-item:hover .image .social li:nth-child(3) { transition-delay: 0.4s; }
.team-item:hover .image .social li:nth-child(4) { transition-delay: 0.5s; }


.team-item .image .social li a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #086AD8;
    text-align: center;
    background-color: #086AD8;
    transition: background-color 0.35s ease, transform 0.35s ease;
    position: relative;
    font-size: 20px;
    color: #ffffff;
    border-radius: 30px;
    transition: 0.5s;
}
.team-item .image .social li a:hover {
    background-color: #10dce8;
}
.team-item .image .social li a i {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

.team-item .content {
    background-color: #ffffff;
    box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.07);
    padding: 30px;
}

.team-item .content h3 {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: #212121;
    font-weight: bold;
}

.team-item .content span {
    display: block;
    color: #086AD8;
    font-size: 14px;
    margin-top: 6px;
}
