<!-- Section 1 -->
<section class="choose-section ptb-100">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="icon">
                        <i class="fa-solid fa-folder-open"></i>
                    </div>
                    <h3>Software Development Services</h3>
                    <p>Because we really love and feel passion for what we do. We always seek the benefit and
                        satisfaction of our clients, through personalized advice and quality in all our developments.
                        Our web developers work in a single office space and are a well-coordinated team. As a leading
                        Software house in Pakistan, We provide clients with all types of services for website creation,
                        <a href="https://www.exytex.com/seo-services/">increase SEO traffic</a>, conversion optimization
                        Logos and Icons, and Internet resources modernization. Our software house mission is spreading
                        the best services in the industry of online market.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="choose-image">
                    <img src="/image/homegenerated.jpg" alt="Software Development">
                </div>
            </div>

        </div>
    </div>
</section>

