<section class="choose-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="choose-content">
                    <div class="icon">
                        <i class="fa-solid fa-folder-open"></i>
                    </div>
                    <h3>Managing all Types of Digital Projects</h3>
                    <p>
                        Exytex conceptualizes, designs, develops and promotes your idea into real,
                        practical, feasible and easy to use solutions that help you maximize revenue.
                        We have experience in managing all types of digital project design and development
                        that can range from small business automation to web-compliant and large enterprise
                        ERP systems. Same level of synergy and robust quality methods. We offer you customized
                        solutions with more than three years of experience providing technological solutions.
                        It allows us to meet the needs of our customers and provide solutions that help boost
                        your business. We combine the talents of our highly skilled engineering staff with our
                        top-notch marketing team, working from Pakistan with a commitment to helping companies
                        build great, reliable services in websites, applications, digital marketing and graphic
                        design in a fast and reliable way.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choose-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="choose-content">
                    <div class="icon">
                        <i class="fa-solid fa-folder-open"></i>
                    </div>
                    <h3>Exytex is Your Best Option.</h3>
                    <p>
                        We have extensive experience in Android, integration with REST APIs,
                        integrations with social networks (Facebook, Twitter, Instagram, Google+),
                        push notifications, Google Maps and geolocation, analytics, QR codes, video,
                        audio, photos and camera. As well as using Java and Kotlin, Android Studio,
                        Material Design, Gradle, Retrofit, and other powerful tools. If you are
                        looking to have a development team sharing the same time zone, close and
                        fully integrated with yours, Exytex is the right choice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>