.ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.choose-content {
    position: relative;
    margin-top: 40px;
    padding: 20px 40px 20px 120px;
    background-color: #f5f9fd;
    border-radius: 50px;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
}

.choose-content::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #086AD8;
    border-radius: 50px;
    transition: 0.5s;
    z-index: -1;
}

.choose-content:hover::before {
    width: 100%;
}

.choose-content .icon {
    position: absolute;
    left: 30px;
    top: 26px;
    transition: 0.5s;
    z-index: 2;
}

.choose-content .icon i {
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: #086AD8;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    font-size: 35px;
    transition: 0.5s;
}

.choose-content h3,
.choose-content p {
    position: relative;
    z-index: 2;
    transition: 0.5s;
}

.choose-content h3 {
    font-size: 22px;
    margin-bottom: 8px;
    color: #212121;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

.choose-content p {
    margin-bottom: 0;
    line-height: 1.8;
    color: #666666;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.choose-content:hover h3,
.choose-content:hover p {
    color: #ffffff;
}

.choose-content:hover .icon i {
    background-color: #ffffff;
    color: #086AD8;
}

/* Media Query 1: 1248px and below */
@media (max-width: 1248px) {
    .choose-content {
        padding: 20px 35px 20px 110px;
        border-radius: 45px;
    }
    
    .choose-content .icon {
        left: 25px;
    }
    
    .choose-content h3 {
        font-size: 21px;
    }
    
    .choose-content p {
        font-size: 15px;
    }
}

/* Media Query 2: 992px and below */
@media (max-width: 992px) {
    .ptb-100 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .choose-content {
        padding: 18px 30px 18px 100px;
        border-radius: 40px;
        margin-top: 30px;
    }
    
    .choose-content .icon {
        left: 20px;
        top: 24px;
    }
    
    .choose-content .icon i {
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 30px;
    }
    
    .choose-content h3 {
        font-size: 20px;
    }
    
    .choose-content p {
        font-size: 15px;
        line-height: 1.7;
    }
}

/* Media Query 3: 768px and below */
@media (max-width: 768px) {
    .ptb-100 {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    .choose-content {
        padding: 16px 25px 16px 90px;
        border-radius: 35px;
        margin-top: 25px;
    }
    
    .choose-content .icon {
        left: 18px;
        top: 22px;
    }
    
    .choose-content .icon i {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 28px;
    }
    
    .choose-content h3 {
        font-size: 19px;
        margin-bottom: 6px;
    }
    
    .choose-content p {
        font-size: 14px;
        line-height: 1.6;
    }
}

/* Media Query 4: 576px and below */
@media (max-width: 576px) {
    .ptb-100 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .choose-content {
        padding: 14px 20px 14px 80px;
        border-radius: 30px;
        margin-top: 20px;
    }
    
    .choose-content .icon {
        left: 15px;
        top: 20px;
    }
    
    .choose-content .icon i {
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 25px;
    }
    
    .choose-content h3 {
        font-size: 18px;
        margin-bottom: 6px;
    }
    
    .choose-content p {
        font-size: 14px;
        line-height: 1.6;
    }
}

/* Media Query 5: 480px and below */
@media (max-width: 480px) {
    .ptb-100 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .choose-content {
        padding: 12px 18px 12px 75px;
        border-radius: 28px;
        margin-top: 18px;
    }
    
    .choose-content .icon {
        left: 12px;
        top: 18px;
    }
    
    .choose-content .icon i {
        height: 48px;
        width: 48px;
        line-height: 48px;
        font-size: 24px;
    }
    
    .choose-content h3 {
        font-size: 17px;
        margin-bottom: 5px;
    }
    
    .choose-content p {
        font-size: 13px;
        line-height: 1.6;
    }
}

/* Media Query 6: 400px and below */
@media (max-width: 400px) {
    .ptb-100 {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    
    .choose-content {
        padding: 12px 15px 12px 70px;
        border-radius: 25px;
        margin-top: 15px;
    }
    
    .choose-content .icon {
        left: 10px;
        top: 16px;
    }
    
    .choose-content .icon i {
        height: 45px;
        width: 45px;
        line-height: 45px;
        font-size: 22px;
    }
    
    .choose-content h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .choose-content p {
        font-size: 13px;
        line-height: 1.5;
    }
}

/* Media Query 7: 300px and below */
@media (max-width: 300px) {
    .ptb-100 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .choose-content {
        padding: 10px 12px 10px 65px;
        border-radius: 22px;
        margin-top: 12px;
    }
    
    .choose-content .icon {
        left: 8px;
        top: 14px;
    }
    
    .choose-content .icon i {
        height: 42px;
        width: 42px;
        line-height: 42px;
        font-size: 20px;
    }
    
    .choose-content h3 {
        font-size: 15px;
        margin-bottom: 4px;
    }
    
    .choose-content p {
        font-size: 12px;
        line-height: 1.5;
    }
}