.services-section.bg-color {
    background-color: #f0f4f8;
    border-bottom: 1px solid #f3f3f3;
}

.services-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pb-70 {
    padding-bottom: 20px;
}

.pt-100 {
    padding-top: 70px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h3 {
    color: #212121;
    text-transform: capitalize;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

.section-title .bar {
    height: 4px;
    width: 85px;
    background: #086AD8;
    margin: 20px auto 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.section-title .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #ffffff;
    animation: MOVE-BG 2s linear infinite;
}

@keyframes MOVE-BG {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(73px);
    }
}

.single-services {
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
    overflow: hidden;
}

.single-services::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #00b0ee;
    transition: 0.5s;
    border-radius: 10px;
}

.single-services:hover::before {
    height: 100%;
}

.single-services .icon {
    padding-top: 15px;
    transition: 0.5s;
}

.single-services .icon i {
    display: inline-block;
    height: 70px;
    width: 90px;
    line-height: 70px;
    background-color: #f0f7fd;
    text-align: center;
    font-size: 30px;
    color: #086AD8;
    border-radius: 30px 5px 30px 5px;
    transition: 0.5s;
}

.single-services h3,
.single-services p {
    transition: 0.5s;
}

.single-services:hover h3,
.single-services:hover p,
.single-services:hover .read-btn {
    color: #fff;
}

.single-services:hover .read-btn:hover {
    text-decoration: none;
    color: #fff;
}

.single-services:hover .icon i {
    background-color: #fff;
    color: #086AD8;
}

.single-services h3 {
    font-size: 24px;
    margin: 20px 0 10px 0;
    transition: 0.5s;
    color: #212121;
    text-transform: capitalize;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

.single-services p {
    margin-bottom: 1px;
    line-height: 1.8;
    color: #666666;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.single-services .read-btn {
    display: inline-block;
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
    color: #212121;
    text-decoration: none;
    transition: 0.5s;
}

.single-services .read-btn:hover {
    color: #0d6efd;
    text-decoration: underline;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: #212121;
}

a:hover {
    color: #0d6efd;
    text-decoration: underline;
}

.default-shape .shape-1 {
    position: absolute;
    right: 10%;
    top: 16%;
    z-index: -1;
    animation: animationFramesOne 20s infinite linear;
}

img {
    max-width: 100%;
    height: auto;
}

.default-shape .shape-2 {
    position: absolute;
    left: 10%;
    top: 16%;
    z-index: -1;
}

@keyframes rotateMe {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.default-shape .shape-3 {
    position: absolute;
    left: 5%;
    bottom: 25%;
    z-index: -1;
    animation: animationFramesOne 20s infinite linear;
}

.default-shape .shape-4 {
    position: absolute;
    right: 10%;
    bottom: 25%;
    z-index: -1;
    animation: animationFramesOne 20s infinite linear;
}


.default-shape .shape-5 {
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: -1;
    animation: animationFramesOne 20s infinite linear;
}
    @keyframes animationFramesOne {
        0% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
    
        20% {
            -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
        }
    
        40% {
            -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
        }
    
        60% {
            -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
        }
    
        80% {
            -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
        }
    
        100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
    }