<section class="services-section bg-color pt-100 pb-70">
    <div class="container">

        <div class="section-title">
            <h3>Our Services</h3>
            <div class="bar"></div>
        </div>

        <div class="row">

            <!-- Service 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon" style="padding-top:10px;">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <h3>Web Development</h3>
                    <p style="padding:15px;">
                        We create and develop sites with high conversion, which are easy to bring to the TOP.
                        We fully manage the project or help the team on the client-side.
                    </p>
                    <a routerLink="/web-development" class="read-btn" style="padding-bottom:10px;">
                        Read More
                    </a>
                </div>
            </div>

            <!-- Service 2 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon" style="padding-top:10px;">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <h3>Mobile App</h3>
                    <p style="padding:15px;">
                        We conduct competitive market analysis, use the best solutions to create Mobile Apps.
                        We implement business tasks using user-friendly interfaces based on analytics.
                    </p>
                    <a routerLink="/mobile-apps" class="read-btn" style="padding-bottom:10px;">
                        Read More
                    </a>
                </div>
            </div>

            <!-- Service 3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon" style="padding-top:10px;">
                        <i class="fa-solid fa-bullhorn"></i>
                    </div>
                    <h3>Digital Marketing</h3>
                    <p style="padding:13px;">
                        We help you increase the sales of your product or service through a digital strategy of search
                        engine positioning and other channels so that you obtain the best results.
                    </p>
                    <a routerLink="/digital-marketing" class="read-btn" style="padding-bottom:10px;">
                        Read More
                    </a>
                </div>
            </div>

            <!-- Service 4 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon" style="padding-top:10px;">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <h3>ERP Software Development</h3>
                    <p style="padding:13px;">
                        Enterprise resource and Our team of IT specialists has extensive practical experience in
                        creating first-class solutions for integrating enterprise business process management systems.
                        You will be able to manage your projects in one click.
                    </p>
                    <a routerLink="/erp-services" class="read-btn" style="padding-bottom:10px;">
                        Read More
                    </a>
                </div>
            </div>

            <!-- Service 5 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon" style="padding-top:10px;">
                        <i class="fa-brands fa-apple"></i>
                    </div>
                    <h3>iOS App Development</h3>
                    <p style="padding:13px;">
                        Creation of applications for iOS. The difficulty of developing applications for iOS is that
                        Apple dictates its own rules in design and functionality. Using the SLEEP KEEKER application as
                        an example, we will show how the development of applications
                    </p>
                    <a routerLink="/mobile-apps" class="read-btn" style="padding-bottom:10px;">
                        Read More
                    </a>
                </div>
            </div>

            <!-- Service 6 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon" style="padding-top:10px;">
                        <i class="fa-brands fa-android"></i>
                    </div>
                    <h3>iOS / Android App Development</h3>
                    <p style="padding:13px;">
                        Creation of applications for Android. Find out how we develop apps for Android, a platform that
                        has already become a market leader. We will tell you what stages the development of Android
                        applications
                    </p>
                    <a routerLink="/mobile-apps" class="read-btn" style="padding-bottom:10px;">
                        Read More
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- Shapes -->
    <div class="default-shape">
        <div class="shape-1">
            <img src="/image/4.png" alt="shape">
        </div>
        <div class="shape-2 rotateme">
            <img src="/image/5.svg" alt="shape">
        </div>
        <div class="shape-3">
            <img src="/image/6.svg" alt="shape">
        </div>
        <!-- <div class="shape-4">
            <img src="/image/7.png" alt="shape">
        </div>
        <div class="shape-5">
            <img src="/image/8.png" alt="shape">
        </div> -->
    </div>

</section>